@model WinnersIndy.Model.FirstTimer.FirstTimerCreate

@{
    ViewBag.Title = "Create";
}

<h2 class="movie-one">Add First Timer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @*<h4>FirstTimerCreate</h4>*@
   
    <br />
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2 colum-head-color" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", maxLength = "10", placeholder = "Phone Number" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2 colum-head-color " })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2 colum-head-color" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2 colum-head-color" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2 colum-head-color" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfVisit, htmlAttributes: new { @class = "control-label col-md-2 colum-head-color" })
        <div class="col-md-10">
            <input type="date" name="DateOfVisit" value="DateOfVisit" id="DateOfVisit" />
            @Html.ValidationMessageFor(model => model.DateOfVisit, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink(" Back", "Index", null, htmlAttributes: new { @class = "glyphicon glyphicon-arrow-left btn btn-success" })
</div>
<style>
    .column-header {
        background-color: lightgrey;
    }

    .table-body {
        box-shadow: 0 0 15px 0;
    }

    .colum-head-color {
        color: indigo;
        font-family: 'Global Monospace';
        font-size: 2rem;
    }

    .class-header {
        font-family: 'Global Monospace';
        color: darkblue;
    }

    .member td {
    }

    #Search {
        background-color: lightskyblue
    }

    .movie-one {
        color: indigo;
        text-align:center
    }

    .two {
        background-color: royalblue
    }
</style>
