@model WinnersIndy.Model.AttendanceFolder.AttendanceList

@{
    ViewBag.Title = "Create";
}

<h2 class="member-td">Attendance Date:@ViewBag.Date</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.HiddenFor(model => model.ChildrenClassId, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

       

        <table class="table table-body table-bordered table-hover">
            <tr class="column-header">
                <th class="colum-head-color">
                    First Name
                </th>
                <th class="colum-head-color">
                    Last Name
                </th>

                @*<th>
                        PersonId
                    </th>*@
                <th class="colum-head-color">
                    Mark Attendance
                </th>
            </tr>

            @{
                int i = 0;
                foreach (var modelItem in Model.AttendanceSheetList.ToList())// Rebuilding the list
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.AttendanceSheetList[i].FirstName, new { @firstName = "FirstName_" + i })
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.AttendanceSheetList[i].LastName, new { @lastName = "LastName_" + i })
                        </td>

                        <td>
                            @*@Html.CheckBoxFor(Model=>modelItem.Inchurch)*@
                            @Html.CheckBoxFor(o => o.AttendanceSheetList[i].Inchurch, new { @inChurch = "InChurch_" + i })
                        </td>

                        <td>
                                                        @*@Html.DisplayFor(Model=>modelItem.MemberId)*@
                            @Html.HiddenFor(o => o.AttendanceSheetList[i].MemberId, new { @memberId = "PersonId_" + i })
                        </td>
                    </tr>
                    i++;
                }
            }
        </table>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Attendance" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(" Back to List", "Index", "ChildrenClass",null, htmlAttributes:new { @class= "glyphicon glyphicon-arrow-left btn btn-success"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    .column-header {
        background-color: lightgrey;
    }

    .table-body {
        box-shadow: 0 0 15px 0;
    }

    .colum-head-color {
        color: indigo;
        font-family: 'Global Monospace';
        font-size: 2rem;
    }

    .class-header {
        font-family: 'Global Monospace';
        color: darkblue;
    }

    .member-td {
        color:indigo
    }

    #Search {
        background-color: lightskyblue
    }

    .movie-one {
        color: indigo;
        text-align: center
    }

    .two {
        background-color: royalblue
    }
</style>