@model WinnersIndy.Model.ServiceUnit.ServiceUnitCreate

@{
    ViewBag.Title = "Create";
}

<h2 class="movie-one">Add A Service Unit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>ServiceUnitCreate</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(" Back", "Index", null, htmlAttributes: new { @class = "glyphicon glyphicon-arrow-left btn btn-success" })
</div>
<style>
    .column-header {
        background-color: lightgrey;
    }

    .table-body {
        box-shadow: 0 0 15px 0;
    }

    .colum-head-color {
        color: indigo;
        font-family: 'Global Monospace';
        font-size: 2rem;
    }

    .class-header {
        font-family: 'Global Monospace';
        color: darkblue;
    }

    .member td {
    }

    #Search {
        background-color: lightskyblue
    }

    .movie-one {
        color: indigo;
        text-align: center
    }

    .two {
        background-color: royalblue
    }
</style>
